body {
  background: #000000 !important;
  color: #ffffff !important;
}

.nav-item a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #2da3e3;
  width: fit-content;
}

.a-hover:hover {
  border-bottom: 2px solid #2da3e3;
  width: fit-content;
}

section {
  padding: 50px 0;
}

.footer {
  border-top: 1px solid #2da3e3;
  margin: 60px 0 !important;
  padding: 80px 0 !important;
  padding-bottom: 0 !important;
}

@media (max-width: 584px) {
  .footer {
    padding-top: 100px;
  }
}
